<html>
    <head>
        <title>Node Request Method</title>
    </head>
    <body>

        <ul>
            <% for(var i=0; i< value.post.length; i++){ %>
                <li> Title: &nbsp; <%= value.post[i].title %> </li>
            <% } %>
        </ul>
        <br/><br/>
        
        <ol>
            <li>Decoration: &nbsp;<%= value.finance.decoration %></li>
            <li>Food: &nbsp; <%= value.finance.food %></li>
            <li>Expense: &nbsp;<%= value.finance.expense %></li>
        </ol>
        <br/><br/>
        
        <ul>
            <li>welcome: &nbsp;<%= value.events.welcome %></li>
            <li>Dance: &nbsp;<%= value.events.dance %></li>
            <li>Drama: &nbsp;<%= value.events.drama %></li>
            <li>Vote of Thanks: &nbsp;<%= value.events.end %></li>
        </ul>
        
    </body>
</html>